.spinner {
  position: relative;
  top: 20rem;
  margin: 0 auto;
  height: 200px;
  width: 200px;
}

.country-form {
  display: flex;
  justify-content: flex-start;
  margin-top: 20px;
}

.form-control {
  width: 100%;
  color: black;
  background-color: whitesmoke;
}
